.about {
  float: left;
  font-size: 1rem;
  background: $color-secondary-1-1;
}

.about-header {
  margin: 0.5rem auto;
}

.about-text {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (min-width: 500px) {

  .about {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    clear: both;
    font-size: 1rem;
    background: $color-secondary-1-1;
  }

  .about-text {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
  }


}
