.about {
  float: left;
  font-size: 1rem;
  background: $color-secondary-1-1;
}

.about-header {
  margin: 0.5rem auto;
}

.about-text {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (min-width: 500px) {

  .about {
    width: 80%;
    margin: 0 auto;
    clear: both;

    font-size: 1rem;
    background: $color-secondary-1-1;
  }

}
