.default-footer {
  width: 80%;
  margin: 0 auto;
}

.contact-footer {
  display: inline-block;
  width: 20%;
  padding-right: 30%;
}

.contact-title {
  margin: 0.25rem;

}

.footer-links {
  display: inline-block;
  width: 20%;
  text-align: left;
  padding-left: 30%;
}
