.pathologists {
  background: white;
  float: left;
  @include clearfix;
}

.section-title {
  @include font-header(2rem);
}

.single-pathologist {
  width: 100%;
  padding: 0.75rem;
  @include clearfix;
  box-sizing: border-box;

  // colour scheme 1
  // background: $color-secondary-2-2;

  // color scheme 2
  background: $color-secondary-1-1;

  //textured image
  // background-image: url('../assets/images/ricepaper.png');
  // @include background-opacity($color-secondary-1-1, 40%);

  &:nth-child(2n) {
    // background: $color-primary-2;
    background: $color-complement-2;
  }

}

.name {
  display: block;
  @include font-header(1.5rem);
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.details {
  display: block;
  @include font-text(1rem);
  text-align: left;
}

.bold {
  font-weight: bold;
}

.details {
  text-align: left;

  li {
    padding: 0.25rem;
  }
}

.bio-pic {
  width: 45%;
  margin-bottom: 1rem;
  display: inline;
}

@media (min-width: 500px) {

  .pathologists {
    @include clearfix;
  }

  .single-pathologist {
    width: 80%;
    margin: 0 auto;
    padding: 0.75rem;
    @include clearfix;
    box-sizing: border-box;
  }

  .name {
    display: block;
    margin-top: 0;
  }

  .details {
    display: block;
    font-size: 0.75rem;
    text-align: left;
  }

  .bio-pic {
    float: right;
    width: 30%;
    display: inline;
  }

}
