// Color Set One - Bright
// $color-primary-0: #FFFF0E;	// Main Primary color */
// $color-primary-1: #FFFF6A;
// $color-primary-2: #FFFF3D;
// $color-primary-3: #FFFF00;
// $color-primary-4: #C8C800;
//
// $color-secondary-1-0: #FF8A0E;	// Main Secondary color (1) */
// $color-secondary-1-1: #FFB66A;
// $color-secondary-1-2: #FFA03D;
// $color-secondary-1-3: #FF8300;
// $color-secondary-1-4: #C86700;
//
// $color-secondary-2-0: #0BCA9F;	// Main Secondary color (2) */
// $color-secondary-2-1: #5BDBBE;
// $color-secondary-2-2: #32D1AD;
// $color-secondary-2-3: #00AD86;
// $color-secondary-2-4: #008164;
//
// $color-complement-0: #8C16CE;	// Main Complement color */
// $color-complement-1: #B263DD;
// $color-complement-2: #9D3BD4;
// $color-complement-3: #7506B2;
// $color-complement-4: #580586;

// Color Set Two - Cool
$color-primary-0: #2F8C66;	// Main Primary color */
$color-primary-1: #7CC3A6;
$color-primary-2: #4DA480;
$color-primary-3: #1A7751;
$color-primary-4: #075D3B;

$color-secondary-1-0: #325F85;	// Main Secondary color (1) */
$color-secondary-1-1: #7C9FBC;
$color-secondary-1-2: #4E789B;
$color-secondary-1-3: #1E4B71;
$color-secondary-1-4: #0C3658;

$color-secondary-2-0: #72B63D;	// Main Secondary color (2) */
$color-secondary-2-1: #BAEA95;
$color-secondary-2-2: #95D564;
$color-secondary-2-3: #569B21;
$color-secondary-2-4: #3A7A09;

$color-complement-0: #CE6D45;	// Main Complement color */
$color-complement-1: #FFBEA2;
$color-complement-2: #F09771;
$color-complement-3: #AF4F26;
$color-complement-4: #89300A;


// Fonts
@mixin font-header($font-size) {
  font-family: 'Poppins', sans-serif;
  font-size: $font-size;
}

@mixin font-text($font-size) {
  font-family: 'Catamaran', sans-serif;
  font-size: $font-size;
}

@mixin background-opacity($colour, $opacity) {
  background: $colour $opacity;
  // opacity: $opacity;
}
